/* Universal Styles */

#oliver-expertise-team {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: black;
  background-color: white;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

.flex-container > h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}

/* Expertise Section */

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
*/

.flex-container > * {
  flex: 1 1 360px;
}

.item {
}

.screen {
  border-bottom: thin solid grey;
  border-right: thin solid grey;
  padding: 20px;
  min-width: 412px;
  height: 179px;
}

.pen {
  border-bottom: thin solid grey;
  border-right: thin solid grey;
  padding: 20px;
  min-width: 412px;
  height: 179px;
}

.mobile {
  border-bottom: thin solid grey;
  padding: 20px;
  min-width: 412px;
  height: 179px;
}

.graph {
  border-right: thin solid grey;
  padding: 20px;
  min-width: 412px;
  height: 179px;
}

.gameboy {
  border-right: thin solid grey;
  padding: 20px;
  min-width: 412px;
  height: 179px;
}

.heart {
  padding: 20px;
  min-width: 412px;
  height: 179px;
}

.item img {
  height: 40px;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.item span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Amazing Team */

#team {
  background-image: url("Image_Olli/bgk-header.png");
  height: 500px;
  padding: 3rem;
  color: white;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.location {
  border: thin solid grey;
  max-min-width: 200px;
  margin: 0 20px;
}
.fakeimage {
  background: white;
  min-width: 200px;
  height: 210px;
}
/* Green */
button {
  background-color: Transparent;
  border: none;
  outline: solid;
  color: #34dbbf;
  padding: 15px;
}
